<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dm.shopb2b2c.shopec.typeAndBrand.mapper.ShopTypeAndBrandMapper">


    <!--添加数据-->
    <insert id="addShopTypeAndBrand" parameterType="com.dm.shopb2b2c.shopec.typeAndBrand.entity.ShopTypeAndBrand">
        insert  ignore product_category_brand(product_categories_id,brands_id) values(#{type_id},#{brand_id})
    </insert>



</mapper>