<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dm.shopb2b2c.shopec.product.mapper.ShopProductMapper">



    <!--添加数据-->
    <insert id="addShopProduct" parameterType="com.dm.shopb2b2c.shopec.product.entity.ShopProduct">
        insert into product(
        id,
        created_date,
        last_modified_date,
        version,
        caption,
        cost,
        hits,
        introduction,
        is_active,
        is_delivery,
        is_list,
        is_marketable,
        is_top,
        keyword,
        market_price,
        max_commission,
        memo,
        month_hits,
        month_hits_date,
        month_sales,
        month_sales_date,
        name,
        parameter_values,
        price,
        product_images,
        sales,
        score,
        score_count,
        sn,
        specification_items,
        total_score,
        type,
        unit,
        week_hits,
        week_hits_date,
        week_sales,
        week_sales_date,
        weight,
        brand_id,
        product_category_id,
        store_id,
        store_product_category_id)
        values(
        #{id},
        #{createdDate},
        #{lastModifiedDate},
        #{version},
        #{caption},
        #{cost},
        #{hits},
        #{introduction},
        #{isActive},
        #{isDelivery},
        #{isList},
        #{isMarketable},
        #{isTop},
        #{keyword},
        #{marketPrice},
        #{maxCommission},
        #{memo},
        #{monthHits},
        #{monthHitsDate},
        #{monthSales},
        #{monthSalesDate},
        #{name},
        #{parameterValues},
        #{price},
        #{productImages},
        #{sales},
        #{score},
        #{scoreCount},
        #{sn},
        #{specificationItems},
        #{totalScore},
        #{type},
        #{unit},
        #{weekHits},
        #{weekHitsDate},
        #{weekSales},
        #{weekSalesDate},
        #{weight},
        #{brandId},
        #{productCategoryId},
        #{storeId},
        #{storeProductCategoryId})
    </insert>


</mapper>